// Screens
$small: '(max-width: 35em)';
$medium: '(min-width: 40em)';
$large: '(min-width: 66em)';
$content-width: 38rem;
$content-width-wide: 75rem;

// Colors
$primary-color: rgb(216, 165, 80);
$secondary-color: rgb(135, 84, 0);
$c1:rgb(122, 87, 27);
