.header {
  position: relative;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

@import 'logo';
@import 'navbar';
@import 'langbar';
@import 'toggle';
