.header {
  background: #ffffff;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

@import 'logo';
@import 'navbar';
@import 'langbar';
@import 'toggle';
