.navbar {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: map-get($zindex, l3);
  order: 4;
  width: 0;
  height: auto;
  min-height: 800px;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
  overflow-y: scroll;

  @media #{$large} {
    position: initial;
    width: auto;
    height: auto;
    min-height: initial;
    overflow-y: hidden;
  }

  &--toggle {
    width: 100%;

    @media #{$large} {
      width: auto;
    }
  }

  a {
    display: block;
    padding: 1rem;
    color: #111111;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }
}

.menu {
  list-style: none;

  .submenu {
    display: none;

    @media #{$large} {
      position: absolute;
      top: 85px;
      z-index: map-get($zindex, l2);
      min-width: 200px;
      background: #ffffff;
    }

    @include animate(slideUpFadeIn, 400ms);

    &__item {
      display: block;
      border-top: 1px solid #eeeeee;
      border-right: 1px solid #eeeeee;
      border-left: 1px solid #eeeeee;
      text-align: right;

      @media #{$large} {
        text-align: center;
      }
    }
  }

  &__item {
    display: block;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    text-align: center;

    @media #{$large} {
      display: table-cell;
      width: auto;
      border: none;
      text-align: initial;
    }

    &:last-child {
      border-bottom: 0;
    }

    &:first-child {
      border-top: 1px solid #eeeeee;

      @media #{$large} {
        border-top: none;
      }
    }

    &:hover {
      .submenu {
        display: block;
      }
    }
  }
}
