@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slideDownFade {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideDownFade {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes error {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }
}
@keyframes error {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }
}
@-webkit-keyframes waveAnimateA {
  0% {
    -webkit-transform: translate(-80px, 5px);
            transform: translate(-80px, 5px);
  }
  100% {
    -webkit-transform: translate(80px, 0);
            transform: translate(80px, 0);
  }
}
@keyframes waveAnimateA {
  0% {
    -webkit-transform: translate(-80px, 5px);
            transform: translate(-80px, 5px);
  }
  100% {
    -webkit-transform: translate(80px, 0);
            transform: translate(80px, 0);
  }
}
@-webkit-keyframes waveAnimateB {
  0% {
    -webkit-transform: translate(-80px, 10px);
            transform: translate(-80px, 10px);
  }
  100% {
    -webkit-transform: translate(80px, 0);
            transform: translate(80px, 0);
  }
}
@keyframes waveAnimateB {
  0% {
    -webkit-transform: translate(-80px, 10px);
            transform: translate(-80px, 10px);
  }
  100% {
    -webkit-transform: translate(80px, 0);
            transform: translate(80px, 0);
  }
}
@-webkit-keyframes waveAnimateC {
  0% {
    -webkit-transform: translate(-20px, 5px);
            transform: translate(-20px, 5px);
  }
  100% {
    -webkit-transform: translate(-80px, 10px);
            transform: translate(-80px, 10px);
  }
}
@keyframes waveAnimateC {
  0% {
    -webkit-transform: translate(-20px, 5px);
            transform: translate(-20px, 5px);
  }
  100% {
    -webkit-transform: translate(-80px, 10px);
            transform: translate(-80px, 10px);
  }
}
@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  40%, 43% {
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  70% {
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  40%, 43% {
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  70% {
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes zoomOutDown {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
            transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
            transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoomOutDown {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
            transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
            transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInRight {
  from {
    visibility: visible;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    visibility: visible;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}
@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 40px);
            transform: translate(0, 40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 40px);
            transform: translate(0, 40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes leftright {
  0% {
    -webkit-transform: skewY(0.4deg);
            transform: skewY(0.4deg);
  }
  50% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  100% {
    -webkit-transform: skewY(0.4deg);
            transform: skewY(0.4deg);
  }
}
@keyframes leftright {
  0% {
    -webkit-transform: skewY(0.4deg);
            transform: skewY(0.4deg);
  }
  50% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  100% {
    -webkit-transform: skewY(0.4deg);
            transform: skewY(0.4deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes fade {
  from {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f9f9f9;
  font-family: Roboto, arial, sans-serif;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.b-links a {
  display: block;
  margin-top: 0.7rem;
  font-size: 0.9rem;
  color: #cccccc;
}
.b-links a:hover {
  color: #d8a550;
}

.b-icons .icon {
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 1.2rem;
  border: 2px solid #cccccc;
  border-radius: 100%;
  background: #cccccc;
}
.b-icons .icon a {
  color: #333333;
}
.b-icons .icon:hover {
  border: 2px solid #d8a550;
}
.b-icons .icon:hover a {
  color: #d8a550;
}

.footer .content {
  font-size: 0.9rem;
  color: #cccccc;
}
.footer .content strong {
  color: #eeeeee;
}
.footer .content h3 {
  display: inline-block;
  border-bottom: 2px dashed #d8a550;
  line-height: 3rem;
}

.b-stylish-footer {
  position: relative;
  height: 60px;
  background: -webkit-gradient(linear, left top, right top, from(#2a2a2a), to(#222222));
  background: linear-gradient(to right, #2a2a2a, #222222);
  overflow: hidden;
}
.b-stylish-footer::before {
  position: absolute;
  top: 0;
  right: 10%;
  width: 100%;
  height: 300px;
  -webkit-transform: skewY(330deg);
          transform: skewY(330deg);
  background: -webkit-gradient(linear, left top, right top, from(#222222), to(#2a2a2a));
  background: linear-gradient(to right, #222222, #2a2a2a);
  content: "";
}

.footer .column {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.contact h1 {
  margin-bottom: 2rem;
  padding: 1rem;
  border-bottom: 2px solid #875400;
  font-size: 2rem;
  font-weight: 300;
  color: #444444;
}
.contact p {
  margin-bottom: 1rem;
  padding: 1rem;
  border-left: 5px solid #875400;
  border-radius: 5px;
  background: -webkit-gradient(linear, right top, left top, from(#f9f9f9), to(#ffffff));
  background: linear-gradient(to left, #f9f9f9, #ffffff);
  font-size: 0.9rem;
  line-height: 1.5rem;
  word-wrap: break-word;
}

.header {
  position: relative;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0.5rem;
}

.navbar {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 3000;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: 0;
  height: auto;
  min-height: 800px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
  overflow-y: scroll;
}
@media (min-width: 66em) {
  .navbar {
    position: initial;
    width: auto;
    height: auto;
    min-height: initial;
    overflow-y: hidden;
  }
}
.navbar--toggle {
  width: 100%;
}
@media (min-width: 66em) {
  .navbar--toggle {
    width: auto;
  }
}
.navbar a {
  display: block;
  padding: 1rem;
  color: #111111;
  text-decoration: none;
}
.navbar a:hover {
  color: #d8a550;
}

.menu {
  list-style: none;
}
.menu .submenu {
  display: none;
  -webkit-animation: slideUpFadeIn 400ms;
          animation: slideUpFadeIn 400ms;
}
@media (min-width: 66em) {
  .menu .submenu {
    position: absolute;
    top: 85px;
    z-index: 2000;
    min-width: 200px;
    background: #ffffff;
  }
}
.menu .submenu__item {
  display: block;
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  text-align: right;
}
@media (min-width: 66em) {
  .menu .submenu__item {
    text-align: center;
  }
}
.menu__item {
  display: block;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  text-align: center;
}
@media (min-width: 66em) {
  .menu__item {
    display: table-cell;
    width: auto;
    border: none;
    text-align: initial;
  }
}
.menu__item:last-child {
  border-bottom: 0;
}
.menu__item:first-child {
  border-top: 1px solid #eeeeee;
}
@media (min-width: 66em) {
  .menu__item:first-child {
    border-top: none;
  }
}
.menu__item:hover .submenu {
  display: block;
}

.langbar {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (min-width: 66em) {
  .langbar {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.toggle {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  background: none;
  cursor: pointer;
}
@media (min-width: 66em) {
  .toggle {
    display: none;
  }
}
.toggle__bar {
  display: block;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: #d8a550;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.toggle--change .toggle__bar:first-child {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
          transform: rotate(-45deg) translate(-8px, 8px);
}
.toggle--change .toggle__bar:nth-of-type(2) {
  opacity: 0;
}
.toggle--change .toggle__bar:last-child {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.accordion {
  margin: 2rem auto;
}
.accordion_item .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  border-top: none;
  border-radius: 5px;
  background: #efdbb8;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #875400;
  cursor: pointer;
}
.accordion_item .head span {
  font-size: 0.9rem;
  font-weight: 500;
}
.accordion_item .head i {
  margin-right: 1rem;
  font-size: 1.5rem;
}
.accordion_item .head--active {
  background: #d8a550;
}
.accordion_item:last-child .body.body--active {
  border-bottom: 1px solid #cccccc;
}
.accordion_item .body {
  height: 100%;
  max-height: 0;
  border-top: none;
  border-bottom: none;
  border-radius: 5px;
  background: #ffffff;
  -webkit-transition: max-height 500ms ease;
  transition: max-height 500ms ease;
  overflow: hidden;
}
.accordion_item .body .content {
  padding: 1rem;
  font-size: 0.9rem;
}
.accordion_item .body--active {
  max-height: 1000px;
  -webkit-box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.1);
}

.google-map {
  width: 100%;
  height: 200px;
}
@media (min-width: 40em) {
  .google-map {
    width: 100%;
    height: 400px;
  }
}

.process-button {
  position: relative;
  padding: 2rem;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.5rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 6px solid #f3f3f3;
  border-top: 6px solid #333333;
  border-right: 6px solid #333333;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}
.loading.left {
  left: 4%;
}
.loading.center {
  position: relative;
  width: 20px;
  height: 20px;
}
.loading.rel {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  -webkit-transform: none;
          transform: none;
}

.line {
  position: relative;
  width: 100%;
  margin: -1px auto;
  padding: 2rem 0;
  background: -webkit-gradient(linear, left top, right top, from(#d8a550), to(#875400));
  background: linear-gradient(to right, #d8a550, #875400);
  overflow: hidden;
}

.line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  -webkit-transform: skew(0deg, 40deg);
          transform: skew(0deg, 40deg);
  background: #ffffff;
}

.line::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  -webkit-transform: skew(0deg, -40deg);
          transform: skew(0deg, -40deg);
  background: #ffffff;
}

.hframe {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
@media (min-width: 40em) {
  .hframe {
    height: 350px;
  }
}
@media (min-width: 66em) {
  .hframe {
    height: 500px;
  }
}
.hframe img {
  width: 100%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hframe h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: Roboto, serif;
  font-size: 1rem;
  font-weight: 800;
  color: #ffffff;
}
@media (min-width: 40em) {
  .hframe h1 {
    font-size: 4rem;
  }
}
.hframe h1::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 40%;
  height: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
}

.home-card {
  position: relative;
  padding: 2rem;
  overflow: hidden;
  font-size: 15px;
  line-height: 2;
  color: #000000;
  text-align: justify;
}
.home-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: #875400;
  -webkit-box-shadow: -20px 0 200px 40px rgba(0, 0, 0, 0.1);
          box-shadow: -20px 0 200px 40px rgba(0, 0, 0, 0.1);
}
.home-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #875400;
  -webkit-box-shadow: 0 0 200px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 200px 40px rgba(0, 0, 0, 0.1);
}

.construction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 5rem 2rem;
  background: #d39a3b;
  font-size: 2rem;
  font-weight: 300;
  color: #ffffff;
}

.image-frame {
  min-height: 150px;
  overflow: hidden;
  cursor: pointer;
}
.image-frame img {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.image-frame img:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.range-gallery {
  display: block;
  width: 40%;
  height: 5px;
  margin: 2rem auto;
  -webkit-appearance: none;
  outline: 0;
  background: #cccccc;
  cursor: pointer;
}
.range-gallery::-webkit-slider-thumb {
  width: 10px;
  height: 15px;
  -webkit-appearance: none;
  background: #aaaaaa;
  cursor: pointer;
}

.right-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media (min-width: 66em) {
  .blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.blocks .block {
  margin-right: 2rem;
  padding-right: 2rem;
}
@media (min-width: 66em) {
  .blocks .block {
    border-right: 1px solid #eeeeee;
  }
  .blocks .block:last-child {
    border-right: none;
  }
}

.rating {
  padding: 0.25rem 0;
  font-size: 0.9rem;
  color: #666666;
}
.rating .count {
  display: inline-block;
  width: 40px;
}
.rating .total {
  margin-left: 1rem;
}
.rating .avg {
  margin-bottom: 0.5rem;
  font-weight: 800;
  color: #444444;
  text-transform: uppercase;
}
.rating .checked {
  color: orange;
}
.rating .fa {
  cursor: pointer;
}

.review-block {
  margin-top: 4rem;
}

.review-heading {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eeeeee;
  font-size: 0.9rem;
  font-weight: 600;
  color: #555555;
  text-transform: uppercase;
}

.review {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #eeeeee;
}
.review .review-title {
  font-weight: 600;
}
.review .review-title span {
  font-size: 0.9rem;
  font-weight: 300;
}
.review .review-message {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  word-wrap: break-word;
}

.review-write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.review-write input {
  margin-top: 0.5rem;
  padding: 0.4rem 0.9rem;
  outline: none;
  border: 1px solid #dddddd;
  font-size: 1rem;
}
@media (min-width: 40em) {
  .review-write input {
    width: 50%;
  }
}
@media (min-width: 66em) {
  .review-write input {
    width: 30%;
  }
}
.review-write textarea {
  min-height: 80px;
  margin-top: 0.5rem;
  padding: 0.4rem 0.9rem;
  outline: none;
  border: 1px solid #dddddd;
  font-size: 1rem;
}
.review-write button {
  width: 150px;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  background: #ce8000;
  color: #ffffff;
  cursor: pointer;
}
.review-write button:hover {
  background: #d8a550;
}
.review-write button.disabled {
  background: #d8a550;
}

.product {
  margin-bottom: 2rem;
}
.product:hover {
  opacity: 0.9;
}
.product .product-rating {
  padding: 1rem;
  background: #f9f9f9;
  text-align: center;
}
.product .product-name {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  color: #555555;
  text-align: center;
  text-transform: uppercase;
}
.product .product-category {
  padding: 0.5rem 0;
  background: rgba(0, 0, 0, 0.03);
  font-size: 0.9rem;
  color: #333333;
  text-align: center;
}
.product .product-more {
  padding: 0.2rem;
  border: 2px solid #875400;
  background: #875400;
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
  text-align: center;
}

.product-page {
  width: 90%;
  margin: 1.5rem auto;
  padding: 1.5rem;
  background: #ffffff;
}
@media (min-width: 66em) {
  .product-page {
    width: 80%;
    margin: 4rem auto;
    padding: 5rem;
  }
}
.product-page .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 66em) {
  .product-page .product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.product-page .product .image {
  margin-bottom: 2rem;
}
@media (min-width: 66em) {
  .product-page .product .image {
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
    margin-bottom: 0;
  }
}
.product-page .product .details {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.product-page .product .details__name {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.product-page .product .details__category {
  margin-bottom: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.product-page .product .details__info {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 0.95rem;
  line-height: 2rem;
  text-align: justify;
}
.product-page .product .details__more {
  padding: 0.5rem 2rem;
  border: 1px solid #ffffff;
  background: #875400;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}
.product-page .product .details__more:hover {
  background: #d8a550;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f9f9f9;
}
@media (min-width: 40em) {
  .contact-form {
    padding: 2rem;
  }
}
.contact-form label {
  margin-bottom: 0.3rem;
  color: #333333;
}
.contact-form span {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: red;
}
.contact-form .error {
  border: 1px solid red !important;
}
.contact-form input {
  height: 40px;
}
.contact-form input:not([type=submit]),
.contact-form textarea {
  margin-bottom: 0.3rem;
  padding: 0.25rem 1rem;
  outline: 0;
  border: 1px solid #875400;
  font-weight: 400;
  color: #333333;
}
.contact-form textarea {
  height: 180px;
  padding-top: 0.5rem;
}
.contact-form input[type=submit] {
  width: 150px;
  margin-top: 1rem;
  outline: 0;
  border: 0;
  background: #875400;
  font-size: 1.1rem;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.contact-form input[type=submit]:hover {
  background: #d39a3b;
}
.contact-form input[type=submit].disabled {
  background: #d39a3b;
}