@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDownFade {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideDownFade {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes error {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }

  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }
}

@keyframes error {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }

  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }
}

@-webkit-keyframes waveAnimateA {
  0% {
    -webkit-transform: translate(-80px, 5px);
            transform: translate(-80px, 5px);
  }

  100% {
    -webkit-transform: translate(80px, 0);
            transform: translate(80px, 0);
  }
}

@keyframes waveAnimateA {
  0% {
    -webkit-transform: translate(-80px, 5px);
            transform: translate(-80px, 5px);
  }

  100% {
    -webkit-transform: translate(80px, 0);
            transform: translate(80px, 0);
  }
}

@-webkit-keyframes waveAnimateB {
  0% {
    -webkit-transform: translate(-80px, 10px);
            transform: translate(-80px, 10px);
  }

  100% {
    -webkit-transform: translate(80px, 0);
            transform: translate(80px, 0);
  }
}

@keyframes waveAnimateB {
  0% {
    -webkit-transform: translate(-80px, 10px);
            transform: translate(-80px, 10px);
  }

  100% {
    -webkit-transform: translate(80px, 0);
            transform: translate(80px, 0);
  }
}

@-webkit-keyframes waveAnimateC {
  0% {
    -webkit-transform: translate(-20px, 5px);
            transform: translate(-20px, 5px);
  }

  100% {
    -webkit-transform: translate(-80px, 10px);
            transform: translate(-80px, 10px);
  }
}

@keyframes waveAnimateC {
  0% {
    -webkit-transform: translate(-20px, 5px);
            transform: translate(-20px, 5px);
  }

  100% {
    -webkit-transform: translate(-80px, 10px);
            transform: translate(-80px, 10px);
  }
}

@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  40%, 43% {
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  70% {
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  40%, 43% {
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  70% {
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes zoomOutDown {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
            transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
            transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
            transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
            transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInRight {
  from {
    visibility: visible;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    visibility: visible;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 40px);
            transform: translate(0px, 40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 40px);
            transform: translate(0px, 40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@-webkit-keyframes leftright {
  0% {
    -webkit-transform: skewY(0.4deg);
            transform: skewY(0.4deg);
  }

  50% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }

  100% {
    -webkit-transform: skewY(0.4deg);
            transform: skewY(0.4deg);
  }
}

@keyframes leftright {
  0% {
    -webkit-transform: skewY(0.4deg);
            transform: skewY(0.4deg);
  }

  50% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }

  100% {
    -webkit-transform: skewY(0.4deg);
            transform: skewY(0.4deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    opacity: 0.8;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes fade {
  from {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    opacity: 0.8;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f9f9f9;
  font-family: Roboto, Arial;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.header {
  background: #fff;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  padding: 0.5rem;
}

.navbar {
  z-index: 50;
}

.navbar a {
  color: #111;
  display: block;
  text-decoration: none;
  padding: 1rem;
}

.navbar a:hover {
  color: #d8a550;
}

.navbar ul {
  list-style: none;
}

.menu__item {
  position: relative;
  display: table-cell;
  padding: 2rem 0;
}

.menu__item:hover .submenu {
  display: block;
}

.submenu {
  position: absolute;
  display: none;
  min-width: 200px;
  top: 115px;
  background: #fff;
  -webkit-animation: slideUpFadeIn 400ms;
          animation: slideUpFadeIn 400ms;
}

.submenu__item {
  display: block;
  border-top: 1px solid #eee;
}

.submenu__item:last-child {
  border-bottom: 1px solid #eee;
}

.footer {
  background: #232323;
}

.copyrights {
  background: #433319;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  font-size: 0.8rem;
  font-weight: 300;
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  line-height: 2rem;
}

.group__item {
  padding: 1rem;
  max-width: 400px;
}

.group__item:nth-child(2) {
  max-width: 250px;
}

.group h1 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 4rem;
}

.group a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 0.9rem;
}

.group p {
  font-size: 0.9rem;
}

.group .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.group .icons a {
  margin-right: 1rem;
}

.group .icons a:hover i {
  color: #875400;
}

.group .icons a:last-child {
  margin-right: 0;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  padding: 6rem 0;
  background: #d8a550;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.subscribe::before {
  content: '';
  -webkit-transform: skewY(170deg);
          transform: skewY(170deg);
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  position: absolute;
  background: -webkit-gradient(linear, right top, left top, from(#d8a550), to(#875400));
  background: linear-gradient(-90deg, #d8a550, #875400);
}

.subscribe form {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 5px solid white;
}

.subscribe__input {
  width: 340px;
  padding: 0.6rem;
  outline: none;
  border: none;
  font-size: 1.3rem;
  color: #333;
  font-style: italic;
  border-right: none;
}

.subscribe__submit {
  outline: none;
  border: none;
  padding: 0.6rem 2rem;
  color: #fff;
  background: #7a571b;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #7a571b;
}

.subscribe__submit:hover {
  border: 2px solid #7a571b;
  background: #fff;
  color: #7a571b;
  -webkit-animation: pulse 200ms;
          animation: pulse 200ms;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
  background: #d8a550;
}

.testimonials .prev,
.testimonials .next {
  cursor: pointer;
  -webkit-box-shadow: 0 6px 35px 3px rgba(135, 84, 0, 0.9);
          box-shadow: 0 6px 35px 3px rgba(135, 84, 0, 0.9);
}

.testimonials .prev:hover,
.testimonials .next:hover {
  -webkit-box-shadow: 0 0 60px 10px rgba(135, 84, 0, 0.9);
          box-shadow: 0 0 60px 10px rgba(135, 84, 0, 0.9);
  border: 5px solid white;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.testimonials .testimonial {
  position: relative;
  overflow: hidden;
  width: 600px;
  min-height: 300px;
  text-align: center;
  padding: 2rem;
  background: #fff;
  -webkit-box-shadow: 0 6px 35px 3px rgba(135, 84, 0, 0.9);
          box-shadow: 0 6px 35px 3px rgba(135, 84, 0, 0.9);
  -webkit-perspective: 1px;
          perspective: 1px;
}

.testimonials .testimonial:hover {
  -webkit-animation: pulse 300ms;
          animation: pulse 300ms;
}

.testimonials .testimonial::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  -webkit-transform: prespective-3d;
          transform: prespective-3d;
  -webkit-transform: rotateX(45deg);
          transform: rotateX(45deg);
  background: #f1f1f1;
  z-index: -10;
}

.testimonials .testimonial i {
  display: block;
  color: #555;
}

.testimonials .testimonial i.fa-quote-left {
  text-align: left;
  margin-bottom: 1rem;
}

.testimonials .testimonial i.fa-quote-right {
  text-align: right;
  margin-top: 1rem;
}

.testimonials .testimonial img {
  z-index: 10;
  border: 10px solid #fff;
}

.testimonials .testimonial p {
  margin-top: 1rem;
  padding: 0 3rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
  color: #555;
}

.testimonials .testimonial h3 {
  margin-top: 2rem;
  font-weight: 400;
  color: #555;
}

.testimonials img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
}

.slider {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.slider .slide {
  width: 100%;
  height: 100%;
}

.slider .slide-enter-active {
  -webkit-animation: fade 2s;
          animation: fade 2s;
}

.slider .slide-leave-active {
  animation: pulse 500ms reverse;
}

.slider .prev,
.slider .next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  outline: 0;
  border: 0;
  opacity: 0.6;
  padding: 0.5rem 1rem;
  background: #000;
  cursor: pointer;
}

.slider .prev .arrow,
.slider .next .arrow {
  fill: #fff;
  width: 40px;
  height: 60px;
}

.slider .prev {
  left: 1rem;
}

.slider .next {
  right: 1rem;
}

.slider .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0.5rem;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #333;
  border-right: 6px solid #333;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.contact {
  padding: 6rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__info {
  width: 500px;
}

.contact__info h1 {
  font-weight: 300;
  color: #444;
  margin-bottom: 2rem;
  padding: 1rem;
  border-bottom: 2px solid #875400;
}

.contact__info p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  width: 400px;
  line-height: 1.5rem;
  background: -webkit-gradient(linear, right top, left top, from(#f9f9f9), to(#ffffff));
  background: linear-gradient(to left, #f9f9f9, #ffffff);
  border-radius: 5px;
  padding: 1rem;
  border-left: 5px solid #875400;
}

.contact form {
  background: #f9f9f9;
  padding: 2rem;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact form label {
  margin-bottom: 0.3rem;
  color: #333;
}

.contact form span {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: red;
}

.contact form .error {
  border: 1px solid red !important;
}

.contact form input:not([type="submit"]),
.contact form textarea {
  padding: 0.25rem 1rem;
  margin-bottom: 0.3rem;
  outline: 0;
  font-style: italic;
  font-weight: 300;
  color: #666;
  border: 1px solid #875400;
}

.contact form input {
  height: 40px;
}

.contact form textarea {
  height: 180px;
  padding-top: 0.5rem;
}

.contact form input[type="submit"] {
  width: 150px;
  background: #875400;
  color: #fff;
  border: 0;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1rem;
  cursor: pointer;
  outline: 0;
}

.contact form input[type="submit"]:hover {
  background: #d39a3b;
}

.admin-heading {
  margin-top: 3rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 21%;
  margin: 0 auto;
}

.admin-heading h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  color: #875400;
}

.admin-heading a {
  font-size: 0.6rem;
  color: #fff;
  text-decoration: none;
  background: #333;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  display: block;
}

.admin-panel {
  width: 80%;
  margin: 3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-pane {
  width: 20%;
  background: #fff;
  border: 1px solid #eee;
  border-right: none;
}

.left-pane a {
  width: 100%;
  display: block;
  padding: 0.7rem 0;
  border-bottom: 1px solid #eee;
  text-align: center;
  background: #f9f9f9;
  color: #444;
  font-size: 0.9rem;
  text-decoration: none;
}

.right-pane {
  width: 80%;
  min-height: 400px;
  background: #fff;
  border: 1px solid #eee;
}


/*# sourceMappingURL=app.css.map*/