.contact {
  display: flex;
  justify-content: space-between;
  padding: 6rem;
  background: #ffffff;

  &__info {
    width: 500px;

    h1 {
      margin-bottom: 2rem;
      padding: 1rem;
      border-bottom: 2px solid $secondary-color;
      font-size: 2rem;
      font-weight: 300;
      color: #444444;
    }

    p {
      width: 400px;
      margin-bottom: 1rem;
      padding: 1rem;
      border-left: 5px solid $secondary-color;
      border-radius: 5px;
      background: linear-gradient(to left, #f9f9f9, #ffffff);
      font-size: 0.9rem;
      line-height: 1.5rem;
    }
  }
}
