.blocks {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media #{$large} {
    flex-direction: row;
  }

  .block {
    margin-right: 2rem;
    padding-right: 2rem;

    @media #{$large} {
      border-right: 1px solid #eeeeee;

      &:last-child {
        border-right: none;
      }
    }
  }
}

.rating {
  padding: 0.25rem 0;
  font-size: 0.9rem;
  color: #666666;

  .count {
    display: inline-block;
    width: 40px;
  }

  .total {
    margin-left: 1rem;
  }

  .avg {
    margin-bottom: 0.5rem;
    font-weight: 800;
    color: #444444;
    text-transform: uppercase;
  }

  .checked {
    color: orange;
  }

  .fa {
    cursor: pointer;
  }
}

.review-block {
  margin-top: 4rem;
}

.review-heading {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eeeeee;
  font-size: 0.9rem;
  font-weight: 600;
  color: #555555;
  text-transform: uppercase;
}

.review {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #eeeeee;

  .review-title {
    font-weight: 600;

    span {
      font-size: 0.9rem;
      font-weight: 300;
    }
  }

  .review-message {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    word-wrap: break-word;
  }
}

.review-write {
  display: flex;
  flex-direction: column;

  input {
    margin-top: 0.5rem;
    padding: 0.4rem 0.9rem;
    outline: none;
    border: 1px solid #dddddd;
    font-size: 1rem;

    @media #{$medium} {
      width: 50%;
    }

    @media #{$large} {
      width: 30%;
    }
  }

  textarea {
    min-height: 80px;
    margin-top: 0.5rem;
    padding: 0.4rem 0.9rem;
    outline: none;
    border: 1px solid #dddddd;
    font-size: 1rem;
  }

  button {
    width: 150px;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ffffff;
    background: lighten($secondary-color, 14%);
    color: #ffffff;
    cursor: pointer;

    &:hover {
      background: $primary-color;
    }

    &.disabled {
      background: $primary-color;
    }
  }
}
