.process-button {
  position: relative;
  padding: 2rem;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.5rem;
  transform: translate(-50%, -50%);
  border: 6px solid #f3f3f3;
  border-top: 6px solid #333333;
  border-right: 6px solid #333333;
  border-radius: 50%;
  animation: spin 1s linear infinite;

  &.left {
    left: 4%;
  }

  &.center {
    position: relative;
    width: 20px;
    height: 20px;
  }

  &.rel {
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    transform: none;
  }
}

.line {
  position: relative;
  width: 100%;
  margin: -1px auto;
  padding: 2rem 0;
  background: linear-gradient(to right, $primary-color, $secondary-color);
  overflow: hidden;
}

.line::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  transform: skew(0deg, 40deg);
  background: #ffffff;
  content: '';
}

.line::after {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  transform: skew(0deg, -40deg);
  background: #ffffff;
  content: '';
}

.hframe {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;

  @media #{$medium} {
    height: 350px;
  }

  @media #{$large} {
    height: 500px;
  }

  img {
    width: 100%;
    // filter: grayscale(70%);
    transform: scale(1.2);
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%, -50%);
    font-family: Roboto, serif;
    font-size: 1rem;
    font-weight: 800;
    color: #ffffff;

    @media #{$medium} {
      font-size: 4rem;
    }

    &::after {
      position: absolute;
      bottom: 10px;
      left: 50%;
      width: 40%;
      height: 4px;
      transform: translate(-50%, -50%);
      background: #ffffff;
      content: '';
    }
  }
}

.home-card {
  position: relative;
  padding: 2rem;
  overflow: hidden;
  font-size: 15px;
  line-height: 2;
  color: #000000;
  text-align: justify;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: $secondary-color;
    box-shadow: -20px 0 200px 40px rgba(0, 0, 0, 0.1);
    content: '';
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: $secondary-color;
    box-shadow: 0 0 200px 40px rgba(0, 0, 0, 0.1);
    content: '';
  }
}

.construction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 5rem 2rem;
  background: darken($primary-color, 5%);
  font-size: 2rem;
  font-weight: 300;
  color: #ffffff;
}
