.product-page {
  width: 90%;
  margin: 1.5rem auto;
  padding: 1.5rem;
  background: #ffffff;

  @media #{$large} {
    width: 80%;
    margin: 4rem auto;
    padding: 5rem;
  }

  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media #{$large} {
      flex-direction: row;
    }

    .image {
      margin-bottom: 2rem;

      @media #{$large} {
        flex-basis: 46%;
        margin-bottom: 0;
      }
    }

    .details {
      flex-basis: 50%;

      &__name {
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      &__category {
        margin-bottom: 2rem;
        font-size: 0.8rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      &__info {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 0.95rem;
        line-height: 2rem;
        text-align: justify;
      }

      &__more {
        padding: 0.5rem 2rem;
        border: 1px solid #ffffff;
        background: $secondary-color;
        font-size: 1rem;
        font-weight: 600;
        color: #ffffff;
        cursor: pointer;

        &:hover {
          background: $primary-color;
        }
      }
    }
  }
}
