.admin-heading{
  margin-top:3rem !important;
  display:flex;
  align-items:center;
  justify-content: space-between;
  width:21%;
  margin:0 auto;

  h1{
    text-align:center;
    font-size:2rem;
    font-weight:300;
    color:$secondary-color;
  }
  a{
    font-size:0.6rem;
    color:#fff;
    text-decoration:none;
    background:#333;
    padding:0.4rem 1rem;
    border-radius:5px;
    display:block;
  }
}

.admin-panel{
  width:80%;
  margin:3rem auto;
  display:flex;
}

.left-pane{
  width:20%;
  background:#fff;
  border:1px solid #eee;
  border-right:none;

  a{
    width:100%;
    display:block;
    padding:0.7rem 0;
    border-bottom:1px solid #eee;
    text-align:center;
    background:#f9f9f9;
    color:#444;
    font-size:0.9rem;
    text-decoration:none;
  }
}

.right-pane{
  width:80%;
  min-height:400px;
  background:#fff;
  border:1px solid #eee;
}
