.contact{
  padding:6rem;
  background:#fff;
  display:flex;
  justify-content: space-between;

  &__info{
    width:500px;
    h1{
      font-weight:300;
      color:#444;
      margin-bottom:2rem;
      padding:1rem;
      border-bottom:2px solid $secondary-color;
    }
    p{
      margin-bottom:1rem;
      font-size:0.9rem;
      width:400px;
      line-height:1.5rem;
      background: linear-gradient(to left, #f9f9f9, #ffffff);
      border-radius:5px;
      padding:1rem;
      border-left:5px solid $secondary-color;
    }
  }

  form{
    background:#f9f9f9;
    padding:2rem;
    width:500px;
    display:flex;
    flex-direction:column;

    label{
      margin-bottom:0.3rem;
      color:#333;
    }

    span {
      margin-bottom:1rem;
      font-size:0.8rem;
      color:red;
    }

    .error{
      border:1px solid red !important;
    }

    input:not([type="submit"]),textarea{
      padding:0.25rem 1rem;
      margin-bottom:0.3rem;
      outline:0;
      font-style:italic;
      font-weight:300;
      color:#666;
      border:1px solid $secondary-color;
    }
    input{
      height:40px;
    }
    textarea{
      height:180px;
      padding-top:0.5rem;
    }
    input[type="submit"]{
      width:150px;
      background:$secondary-color;
      color:#fff;
      border:0;
      font-size:1.1rem;
      font-weight:600;
      text-transform: uppercase;
      margin-top:1rem;
      cursor:pointer;
      outline:0;
      &:hover{
        background:darken($primary-color,5%);
      }
    }
  }
}
