.contact{
  padding:6rem;
  background:#fff;
  display:flex;
  justify-content: space-between;

  &__info{
    width:500px;
    h1{
      font-weight:300;
      color:#444;
      margin-bottom:2rem;
      padding:1rem;
      border-bottom:2px solid $secondary-color;
    }
    p{
      margin-bottom:1rem;
      font-size:0.9rem;
      width:400px;
      line-height:1.5rem;
      background: linear-gradient(to left, #f9f9f9, #ffffff);
      border-radius:5px;
      padding:1rem;
      border-left:5px solid $secondary-color;
    }
  }
}
