.group{
  display:flex;
  justify-content: space-between;
  color:#fff;
  line-height:2rem;

  &__item{
    padding:1rem;
    max-width:400px;
    &:nth-child(2){
      max-width:250px;
    }
  }
  h1{
    font-size:1.2rem;
    font-weight:500;
    line-height:4rem;
  }
  a{
    display:block;
    text-decoration:none;
    color:inherit;
    font-size:0.9rem;
  }
  p{
    font-size:0.9rem;
  }
  .icons{
    display: flex;
    margin-top:1rem;
    a{
      margin-right:1rem;
      &:hover i{
        color:$secondary-color;
      }
      &:last-child{
        margin-right:0;
      }
    }
  }
}
