.navbar {
  z-index:50;
  a {
    color:#111;
    display:block;
    text-decoration: none;
    padding:1rem;

    &:hover{
      color: $primary-color;
    }
  }
  ul{
    list-style: none;
  }
}

.menu {
  &__item{
    position:relative;
    display:table-cell;
    padding:2rem 0;

    &:hover .submenu{
      display:block;
    }
  }
}

.submenu {
  position:absolute;
  display:none;
  min-width:200px;
  top:115px;
  background:#fff;
  @include animate(slideUpFadeIn, 400ms);
  &__item{
    display:block;
    border-top:1px solid #eee;
    &:last-child{
      border-bottom:1px solid #eee;
    }
  }
}
