:root {
  --primary-color: rgb(216, 165, 80);
  --secondary-color: rgb(135, 84, 0);
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.spaceRow {
  padding: 1rem !important;
}

@media screen and (min-width: 768px) {
  .spaceRow {
    padding: 3rem !important;
  }
}
