.contactInfo {
  padding: 1.5rem 1rem;
  background: #f9f9f9;
}

@media screen and (min-width: 768px) {
  .contactInfo {
    padding: 1.5rem 3rem;
  }
}

h1.title {
  border-bottom: 4px solid var(--secondary-color);
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.aboutItem {
  background: linear-gradient(
    to left,
    var(--primary-color) 16%,
    var(--secondary-color)
  );
  border-radius: 5px;
  color: #fff;
  margin-bottom: 1rem;
  padding: 1rem;
}

.form {
  padding: 1.5rem 1rem;
}

@media screen and (min-width: 768px) {
  .form {
    padding: 1.5rem 3rem;
  }
}

.map {
  width: 100%;
  height: 300px;
  border: 0;
  margin: 0;
  padding: 0;
}
