.footer {
  background: #fff;
  border-top: 2px solid rgb(135, 84, 0);
}

.footerItems {
  padding: 1.5rem 3rem;
}

@media screen and (max-width: 768px) {
  .footerItem {
    margin-bottom: 1rem;
  }
}

.footerHeading {
  color: var(--secondary-color) !important;
}

.icons {
  display: flex;
  font-size: 2rem;
}

.icons a {
  margin-right: 1rem;
  color: var(--secondary-color);
}

.icons a:hover {
  color: var(--primary-color);
}

.copyrights {
  background: var(--secondary-color);
  color: #fff;
  font-size: 0.85rem;
  padding: 1.5rem;
  text-align: center;
}
